<phpunit bootstrap="bootstrap.php" colors="true">

    <testsuite name="All">
        <directory suffix="Test.php">./Couchy</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./reports/coverage-html" lowUpperBound="35"
            highLowerBound="80"/>
    </logging>
</phpunit>